<html>
  <head>
    <title>
      silver moon
    </title>
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="first-row">
      <p class="space">have any question?</p>
      <span class="space">
          <i class="fa fa-phone"></i>
          <p>911234567898</p>
      </span>
      <span class="space">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <a href="silvermoon@gmail.com">silvermoon@gmail.com</a>
      </span>
   </div>
   <div class="second-row">
     <div class="logo-menu">
        <img class="logo" src="../images/logo.png">
        <div class="menu">
           <ul>
               <li>Contact us</li>
               <li>About us</li>
               <li>Team</li>
               <li>contact us</li>
           </ul>
        </div>
     </div>
   <div class="cta">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-google"></a>
      <a href="#" class="fa fa-linkedin"></a>
   </div>
   </div>
  </body>
</html>